[submodule "link/.vim"]
	path = link/.vim
	url = https://github.com/vincenthsu/vimrc.git
[submodule "link/.tmux/plugins/tpm"]
	path = link/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
