[include]
	path = ~/.gitconfig.local
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore.global
	autocrlf = input
[difftool]
	prompt = false
[alias]
	fl = log --format=fuller
	ol = log --oneline --abbrev-commit --date=relative --pretty=format:'%C(yellow)%h%C(red)%d%Creset %s %C(green)%cr %C(blue)<%an>%Creset'
	gl = log --all --graph --oneline --decorate
	bh = log --all --graph --oneline --decorate --simplify-by-decoration
	d = difftool
	st = status
	tadd = subtree add --prefix
	tmerge = subtree merge --prefix
	tpush = subtree push --prefix
	tpull = subtree pull --prefix
	tsplit = subtree split --prefix
